.DS_Store
files/*
notebooks/llave1.json
notebooks/llave.json
notebooks/.ipynb_checkpoints/*
.ipynb_checkpoints*
notebooks/testing.ipynb
notebooks/Graph.ipynb
presentation/txt/*
presentation/images/*
presentation/vids/longs/*
presentation/vids/short_1.mp4
presentation/vids/short_2.mp4
